html {
  font-family: "Roboto Slab", serif;
}

body {
  background-color: black;
}

.titulos, .titulos-seccion {
  color: red;
  text-align: center;
  font-weight: 700;
}

.titulos-seccion {
  text-align: left;
}

.parrafos, .parrafos-historia, .parrafos-integrantes {
  color: white;
  font-weight: 300;
  text-align: center;
}

.parrafos-integrantes {
  margin-left: 20px;
  text-align: left;
}

.parrafos-historia {
  margin: 20px;
  text-align: left;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}

.redes-div {
  background-color: #640000;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
}
.redes-div ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  padding: 0px;
}
.redes-div ul li {
  display: inline;
  margin-right: 20px;
  margin-left: 20px;
}

.redes-lista li:hover {
  background-color: #ffc800;
}

.menu-grid {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-template-rows: 200px;
  justify-content: center;
  grid-column-start: 0px;
  align-items: stretch;
  grid-auto-flow: inherit;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.menu-grid a {
  color: #640000;
}
.menu-grid .item, .menu-grid .discografia, .menu-grid .logo {
  background-color: #ffc800;
  list-style: none;
  border: 2px solid red;
  padding: 5px;
  margin: auto;
  width: 120px;
  text-align: center;
}
.menu-grid .logo {
  background-color: transparent;
  border: none;
}
.menu-grid .discografia {
  align-self: stretch;
  grid-column: 3;
}

.menu-grid li:hover {
  transform: scale(2);
}

.menu-grid .logo:hover {
  transform: scale(1);
}

a:hover {
  color: #640000;
  text-decoration: none;
  font-weight: 900;
}

.menu2 {
  background-color: #640000;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
}
.menu2 .activo {
  text-decoration: underline;
}
.menu2 a {
  color: #ffc800;
  margin-left: 20px;
}

.menu2 a:hover {
  text-decoration: underline;
}

.galeria {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px;
  line-height: 0px;
}
.galeria img {
  border-style: groove;
}

.carrusel {
  display: none;
}

.merch {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #640000;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 50px;
  text-align: center;
  font-weight: 100;
}
.merch img {
  border-style: groove;
}

.integrantes {
  display: flex;
  align-items: flex-end;
  background-color: black;
  border: 2px solid #640000;
  margin: 20px;
}
.integrantes .fotos-integrantes {
  border-style: inset;
}

.titulos-integrantes {
  color: red;
  margin: 20px;
}

.historia {
  background-color: black;
  border: 2px solid #640000;
  margin: 20px;
}
.historia .titulos-historia {
  color: red;
  margin: 20px;
}
.historia .parrafos-seccion {
  margin: 20px;
}

.titulo-discografia {
  color: white;
  text-align: center;
}

.fechas-div {
  color: white;
  background-color: #640000;
  border: groove;
  text-align: center;
  margin: auto;
  padding: 25px;
}
.fechas-div a {
  color: #ffc800;
}

.fechas-div a:hover {
  text-decoration: underline;
}

form {
  color: #ffc800;
  text-align: center;
  font-weight: 100;
  padding: 20px;
}

.form {
  background-color: #640000;
  border: 2px solid white;
  margin: 50px;
}

@media (max-width: 768px) {
  .carrusel {
    display: block;
    margin: 20px;
  }

  .galeria {
    display: none;
  }

  .titulos-historia {
    text-align: center;
  }

  .titulos-integrantes {
    text-align: center;
  }

  .menu-grid {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 150px 50px 50px;
  }
  .menu-grid .logo {
    grid-row: 1;
    grid-column: 1/3;
  }
  .menu-grid .discografia {
    grid-row: 4;
    grid-column: 1/3;
  }
  .menu-grid .item1 {
    width: 120px;
    text-align: center;
    grid-row: 2;
  }
  .menu-grid .item2 {
    width: 120px;
    text-align: center;
    grid-row: 3;
  }

  .menu-grid li:hover {
    transform: scale(1);
  }

  .merch {
    margin: 20px;
  }
}